.main {
    background-color: hsl(0, 0%, 98%);
}

.content {
    padding: 50px 0;
    display: flex;
}

.card {
    margin: 0 15px;
    box-shadow: none;
}

.ath {
    font-family: 'Public sans',sans-serif;
    margin: 10px 0;
}

.head {
    font-family: 'Public sans',sans-serif;
    color: hsl(233, 26%, 24%);
    margin: 10px 0;
}

.textSub {
    font-family: 'Public sans',sans-serif;
}

.headTag {
    font-family: 'Public sans',sans-serif;
    margin: 0 15px;
    color: hsl(233, 26%, 24%);
}